body{
  background-color: black;
  color: red;
}
h1,h3{
  font-family: "Butcherman";
}
img{
  width: 100%;
  max-height: 200px
}
.big-big{
  font-size: 400%;
  margin-top: 50px;
  text-shadow: -2px -2px orange;
}
#hangman{
  max-width: 700px;
}
#game-over{
  display: none;
}
#guessing{
}
#display{
  margin-top: -5px;
  font-family: "Butcherman";
  font-size: 300%;
}
#stats{
  display: none;
}
#wrongs{
  margin-left: 10px;
}
.btn{
  font-weight: bold;
  font-family: "Butcherman";
  font-size: 250%;
  margin: 0px;
  background-color: black;
  color: black;
}
.btn:hover{
  color: red;
}
.letter{
  width: 50px;
}
.btn:active{
  color: red;
  border: none !important;
}
.btn:focus{
  color: red;
  border: none !important;
}
.red{
  color: red;
}